body {
  margin: 0;
}
li, #socials {
  transition: .3s;
  cursor: pointer;
}
li:hover, #socials:hover {
transform: translate(0px, 5px);
}

@media screen and (max-width: 1392px) {
  #projects {
    flex-direction: column;
  }

  #desc {
    width: 100%; /* Full width on smaller screens */
  }
  
  #Box2{
    text-align: center;
  }

  .img {
    min-width: 300px;
  }
  .full-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

}