/* import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css"; */

body {
  margin: 0;
  overflow-x:'hidden'
}
li, #socials {
  transition: .3s;
  cursor: pointer;
}
li:hover, #socials:hover {
transform: translate(0px, 5px);
}

@media screen and (max-width: 1392px) {
  #projects {
    flex-direction: column;
  }

  #desc {
    width: 100%; /* Full width on smaller screens */
  }
  
  #Box2{
    text-align: center;
  }

  .img {
    min-width: 300px;
  }
  .full-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
  #img-small{
    margin-top: 15vh;
    height: auto;
    margin-bottom: -5vh;
  }

  #img-title {
     margin-top: 10vh
  }






  
  }

  @media screen and (max-width: 1096px){
    #contact{
      column-gap: -30vh;
      flex-direction: column;
    }
    #img {
      margin-top: 10vh;
      margin-bottom: -25vh;
      margin-left: 10vw;
    }

  }

@media screen and (max-width: 835px){
  #title {
    height: auto;
    align-items: center;
  }

  #button {
    align-items: center;
  }
  #name {
    text-align: center;
    font-size: 2.7rem;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s forwards;
}
#name {
  font-size: 3.5rem;
}
.fade-in-p {
  opacity: 0;
  animation: fadeInAnimation 1.5s forwards;
  animation-delay: .8s;
}
.fade-in-icon {
  opacity: 0;
  animation: fadeInAnimation 1.5s forwards;
  animation-delay: 1.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  width: 2px;
}
