body {
  margin: 0;
}
li, #socials {
  transition: .3s;
  cursor: pointer;
}
li:hover, #socials:hover {
transform: translate(0px, 5px);
}

@media screen and (max-width: 1392px) {
  #projects {
    flex-direction: column;
  }

  #desc {
    width: 100%; /* Full width on smaller screens */
  }
  
  #Box2{
    text-align: center;
  }

  .img {
    min-width: 300px;
  }
  .full-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

}
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s forwards;
}

.fade-in-p {
  opacity: 0;
  animation: fadeInAnimation 1.5s forwards;
  animation-delay: .8s;
}
.fade-in-icon {
  opacity: 0;
  animation: fadeInAnimation 1.5s forwards;
  animation-delay: 1.5s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  width: 2px;
}
